# Checks: >
#   -*,
#   bugprone-*,
#   -bugprone-easily-swappable-parameters,
#   -bugprone-narrowing-conversions,
#   clang-analyzer-*,
#   concurrency-*,
#   cppcoreguidelines-*,
#   -cppcoreguidelines-avoid-magic-numbers,
#   -cppcoreguidelines-narrowing-conversions,
#   -cppcoreguidelines-avoid-non-const-global-variables,
#   modernize-*,
#   -modernize-use-designated-initializers,
#   -modernize-use-ranges,
#   -modernize-use-trailing-return-type,
#   performance-*,
#   portability-*,
#   readability-*,
#   -readability-convert-member-functions-to-static,
#   -readability-identifier-length,
#   -readability-isolate-declaration,
#   -readability-magic-numbers,
#   -readability-math-missing-parentheses,

Checks: >
  -*,
  bugprone-use-after-move,
  performance-*,
  portability-*,
  readability-qualified-auto,

FormatStyle: file
HeaderFilterRegex: src
UseColor: true
